*{
    margin: 0;
}

body{
    background-color: rgb(94, 92, 92);
}
.front,.iphone{
    width: 80%;
    margin: auto;
}

.iphone-h2
{
    background-color: bisque;
}
.iphone{
    background-color: rgb(194, 189, 189);
}
.iphone-products,.iphone-products2{
    background-color: white;
    text-align: center;
    margin-top: 10px;
    border-style: solid;
}

.price{
   margin:auto;
    width: 20%;
}
.buttons{
    float: left;
    width: 100%;
    margin-left: auto;
}
.first-b{
    margin:10px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: rgb(55, 55, 227);
    color: white;
}
.second-b{
    background-color: white;
    border-color: rgb(56, 56, 248);
    color:  rgb(56, 56, 248);
    padding:3px 9px
    
}

h5{
    text-decoration: line-through;
    color: red;
}
h4{
    color: rgb(2, 233, 2);
}
img{
    margin-top: 10px;
}
/*p{
    margin: auto;
}*/
.front{
    background-color:antiquewhite;
    
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

.front p{
    color: darkblue;
    width: 80%;
    margin: auto;
}
.iphone-h2{
   
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}
.iphone-products{
    width: 20%;
    float: left;
    margin-left: 40px;
}
.iphone-products2{
    width: 45%;
    float: left;
    margin-left: 40px;
    margin-bottom: 30px;
}


.clearfix{
    clear: both;
}

img{
    width: 150px;
}

